<div class="card w-100 my-5">
  <div class="card-body">
    <h1 class="card-title texte-center">Lista de usuários</h1>
    <button class="btn btn-primary mb-4 float-end" routerLink="/form">
      Cadastrar Novo
    </button>
    <table class="table">
      <thead>
        <tr *ngFor="let user of users">
          <th>{{ user.id }}</th>
          <th>{{ user.nome }}</th>
          <th>{{ user.sobrenome }}</th>
          <th>{{ user.idade }}</th>
          <th>{{ user.profissao }}</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Ivonaldo</td>
          <td>26</td>
          <td>Desenvolvedor</td>
          <td><button class="btn btn-success">Editar</button></td>
          <td>
            <button class="btn btn-danger">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
