<div class="card w-100 my-5">
  <div class="card-body d-flex flex-lg-column align-items-center">
    <h1 class="card-title texte-center">Formulário de usuários</h1>
    <form
      action=""
      class="form-control d-flex justify-content-center flex-lg-column align-items-center"
    >
      <div class="row col-4">
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="name@example.com"
          />
          <label for="nome">Nome</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="sobrenome"
            placeholder="name@example.com"
          />
          <label for="sobrenome">Sobrenome</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="number"
            class="form-control"
            id="Idade"
            placeholder="name@example.com"
          />
          <label for="idade">Idade</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="profissao"
            placeholder="name@example.com"
          />
          <label for="profissao">Profissão</label>
        </div>
      </div>
      <div class="row col-4">
        <div class="form-group col-12 mt-4">
          <button type="button" class="btn btn-outline-danger float-start">
            Cancelar
          </button>
          <button type="button" class="btn btn-outline-success float-end">
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
